package ${cfg.FormPackage};

    #if(${entityLombokModel})
    import lombok.Data;
    import lombok.EqualsAndHashCode;
    #end
#if(${swagger2})
import io.swagger.annotations.*;
#end

#if(${entitySerialVersionUID})
import java.io.Serializable;
#end

/**
 * <p>
 * $!{table.comment}创建表单对象
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
    #if(${entityLombokModel})
    @Data
        #if(${superEntityClass})
        @EqualsAndHashCode(callSuper = true)
        #else
        @EqualsAndHashCode(callSuper = false)
        #end
        #if(${chainModel})
        @Accessors(chain = true)
        #end
    #end
    #if(${swagger2})
    @ApiModel
    #end
#if(${entitySerialVersionUID})
public class ${entity}CreateForm implements Serializable{
    private static final long serialVersionUID = 1L;
#else
public class ${entity}CreateForm {
#end
}