package ${cfg.ConvertMapperPackage};

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

import java.util.List;

import ${package.Entity}.${entity};
import ${cfg.DTOPackage}.${entity}CreateDTO;
import ${cfg.DTOPackage}.${entity}UpdateDTO;
import ${cfg.DTOPackage}.${entity}DTO;
import ${cfg.VOPackage}.${entity}VO;

/**
 * <p>
 * ${entity}对象转换类
 * </p>
 *
 * @Description ${entity}转换对象
 * @Author ${author}
 * @Date ${date}
 */
@Mapper(componentModel = "spring")
public interface ${entity}ConvertMapper {
    /**
     * ${entity}CreateDTO转${entity}
     *
     * @param createDTO 创建对象
     * @return ${entity}
     */
        ${entity} ${table.entityPath}CreateDTO2${entity}(${entity}CreateDTO createDTO);

    /**
     * ${entity}UpdateDTO转${entity}
     *
     * @param updateDTO 修改对象
     * @return ${entity}
     */
        ${entity} ${table.entityPath}UpdateDTO2${entity}(${entity}UpdateDTO updateDTO);

    /**
     * ${entity}DTO转${entity}VO
     *
     * @param dto dto对象
     * @return ${entity}
     */
     ${entity}VO ${table.entityPath}DTO2${entity}VO(${entity}DTO dto);

    /**
     * ${entity}DTOList转${entity}VOList
     *
     * @param dtoList dto对象集合
     * @return ${entity}
     */
     List<${entity}VO> ${table.entityPath}DTOList2${entity}VOList(List<${entity}DTO> dtoList);
}