package ${cfg.ConvertMapperPackage};

import org.mapstruct.Mapper;

import java.util.List;

import ${package.Entity}.${entity};
import ${cfg.DTOPackage}.${entity}CreateDTO;
import ${cfg.DTOPackage}.${entity}UpdateDTO;
import ${cfg.DTOPackage}.${entity}DTO;
import ${cfg.VOPackage}.${entity}VO;

#if(${cfg.AddFormSupport})
import ${cfg.FormPackage}.${entity}CreateForm;
#end

#if(${cfg.UpdateFormSupport})
import ${cfg.FormPackage}.${entity}UpdateForm;
#end

#if(${cfg.QueryFormSupport})
import ${cfg.FormPackage}.${entity}QueryForm;
import ${cfg.DTOPackage}.${entity}QueryDTO;
#end

/**
 * <p>
 * ${entity}对象转换类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper(componentModel = "spring")
public interface ${entity}ConvertMapper {
    #if(${cfg.AddFormSupport})
        /**
         * ${entity}CreateForm转${entity}CreateDTO
         *
         * @param form 表单对象
         * @return  ${entity}CreateDTO
         */
            ${entity}CreateDTO convert(${entity}CreateForm form);
    #end

    #if(${cfg.UpdateFormSupport})
        /**
         * ${entity}UpdateForm转${entity}UpdateDTO
         *
         * @param form 表单对象
         * @return  ${entity}UpdateDTO
         */
            ${entity}UpdateDTO convert(${entity}UpdateForm form);
    #end

    #if(${cfg.QueryFormSupport})
        /**
         * ${entity}QueryForm转${entity}QueryDTO
         *
         * @param form 表单对象
         * @return ${entity}QueryDTO
         */
            ${entity}QueryDTO convert(${entity}QueryForm form);
    #end
    /**
     * ${entity}CreateDTO转${entity}
     *
     * @param dto 创建对象
     * @return ${entity}
     */
        ${entity} convert(${entity}CreateDTO dto);

    /**
     * ${entity}UpdateDTO转${entity}
     *
     * @param dto 修改对象
     * @return ${entity}
     */
        ${entity} convert(${entity}UpdateDTO dto);

    /**
     * ${entity}DTO转${entity}VO
     *
     * @param dto dto对象
     * @return ${entity}
     */
        ${entity}VO convert(${entity}DTO dto);

    /**
     * ${entity}DTOList转${entity}VOList
     *
     * @param dtoList dto对象集合
     * @return ${entity}
     */
    List<${entity}VO> convert(List<${entity}DTO> dtoList);
}