package ${cfg.DTOPackage};

    #if(${entityLombokModel})
    import lombok.Data;
    import lombok.EqualsAndHashCode;
    #end
#if(${swagger2})
import io.swagger.annotations.*;
#end

#if(${entitySerialVersionUID})
import java.io.Serializable;
#end

/**
 * <p>
 * $!{table.comment}修改
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
    #if(${entityLombokModel})
    @Data
        #if(${superEntityClass})
        @EqualsAndHashCode(callSuper = true)
        #else
        @EqualsAndHashCode(callSuper = false)
        #end
        #if(${chainModel})
        @Accessors(chain = true)
        #end
    #end
    #if(${swagger2})
    @ApiModel
    #end

    #if(${entitySerialVersionUID})
    public class ${entity}UpdateDTO implements Serializable {
        private static final long serialVersionUID = 1L;
    #else
    public class ${entity}UpdateDTO {
    #end
}