package ${cfg.DTOPackage};

#if(${entityLombokModel})
import lombok.Data;
import lombok.EqualsAndHashCode;
import io.swagger.annotations.*;
#end
import java.io.Serializable;
/**
 * <p>
 * $!{table.comment}创建
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
#if(${superEntityClass})
@EqualsAndHashCode(callSuper = true)
#else
@EqualsAndHashCode(callSuper = false)
#end
#if(${chainModel})
@Accessors(chain = true)
#end
#end
#if(${swagger2})
@ApiModel
#end
public class ${entity}CreateDTO implements Serializable{
    #if(${entitySerialVersionUID})
        private static final long serialVersionUID = 1L;
    #end
}