package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${cfg.VOPackage}.${entity}VO;
import ${cfg.DTOPackage}.${entity}QueryDTO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import ${cfg.DTOPackage}.${entity}CreateDTO;
import ${cfg.DTOPackage}.${entity}UpdateDTO;
import ${cfg.DTOPackage}.${entity}DTO;
import ${cfg.ConvertMapperPackage}.${entity}ConvertMapper;

import org.springframework.stereotype.Service;

import java.util.List;

import cn.hutool.core.util.ObjectUtil;
import cn.hutool.core.util.StrUtil;
import cn.hutool.core.bean.BeanUtil;
import cn.hutool.core.lang.func.Func1;
import cn.hutool.core.lang.func.LambdaUtil;
import cn.hutool.core.util.ReflectUtil;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.toolkit.support.SFunction;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.transaction.annotation.Transactional;

import javax.annotation.Resource;
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
        #set($keyPropertyType=${field.propertyType})
        #set($keyCapitalName=${field.capitalName})
        #set($keyColumnName=${field.columnName})
    #end
#end
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>implements ${table.serviceName} {
        @Resource
        private ${entity}ConvertMapper ${table.entityPath}ConvertMapper;

        @Override
        public Boolean add(${entity}CreateDTO dto){
            ${entity} ${table.entityPath} = ${table.entityPath}ConvertMapper.${table.entityPath}CreateDTO2${entity}(dto);
            return save(${table.entityPath});
        }

        @Override
        public Boolean update(${entity}UpdateDTO dto){
            ${entity} ${table.entityPath} = ${table.entityPath}ConvertMapper.${table.entityPath}UpdateDTO2${entity}(dto);
            return updateById(${table.entityPath});
        }

        @Override
        @Transactional(rollbackFor={Exception.class})
        public Boolean delByIds(List<${keyPropertyType}>idList){
            return removeByIds(idList);
        }

        @Override
        public List<${entity}VO> get${entity}VOList(Page<?>page, ${entity}QueryDTO queryDTO){
            List<${entity}DTO> dtoList = baseMapper.query${entity}DTOList(page,BeanUtil.beanToMap(queryDTO));
            return ${table.entityPath}ConvertMapper.${table.entityPath}DTOList2${entity}VOList(dtoList);
        }

        @Override
        public ${entity}VO get${entity}VO(${entity}QueryDTO queryDTO){
            ${entity}DTO dto = baseMapper.query${entity}DTO(BeanUtil.beanToMap(queryDTO));
            return ${table.entityPath}ConvertMapper.${table.entityPath}DTO2${entity}VO(dto);
        }

        @Override
        public ${entity}VO get${entity}VO(Func1<${entity}QueryDTO,?>func,Object value){
            ${entity}QueryDTO queryDTO=new ${entity}QueryDTO();
            ReflectUtil.setFieldValue(queryDTO,LambdaUtil.getFieldName(func),value);

            return get${entity}VO(queryDTO);
        }

        @Override
        public Boolean columnHasRepeat(String notId,SFunction<${entity},?>columnName,Object columnValue){
            LambdaQueryWrapper<${entity}>wrapper=new QueryWrapper<${entity}>().lambda().eq(columnName,columnValue);
            if(StrUtil.isNotEmpty(notId)){
            wrapper.ne(${entity}::get${keyCapitalName},notId);
            }
            List<${entity}>entities=baseMapper.selectList(wrapper);

            return ObjectUtil.isNotEmpty(entities);
        }
}
#end
