package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${cfg.VOPackage}.${entity}VO;
import ${cfg.DTOPackage}.${entity}QueryDTO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import ${cfg.DTOPackage}.${entity}CreateDTO;
import ${cfg.DTOPackage}.${entity}UpdateDTO;
import ${cfg.DTOPackage}.${entity}DTO;
import ${cfg.ConvertMapperPackage}.${entity}ConvertMapper;

import org.springframework.stereotype.Service;

import java.util.List;
import java.util.stream.Collectors;
import cn.hutool.core.util.StrUtil;
import cn.hutool.core.util.ObjectUtil;
import cn.hutool.core.bean.BeanUtil;
import cn.hutool.core.lang.func.Func1;
import cn.hutool.core.lang.func.LambdaUtil;
import cn.hutool.core.util.ReflectUtil;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.toolkit.support.SFunction;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.transaction.annotation.Transactional;
import lombok.extern.slf4j.Slf4j;
import com.hatzi.core.util.AssertUtil;
import com.hatzi.core.enums.SystemResultEnum;
import javax.annotation.Resource;
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
        #set($keyPropertyType=${field.propertyType})
        #set($keyCapitalName=${field.capitalName})
        #set($keyColumnName=${field.columnName})
    #end
    #if(${field.columnName} == ${cfg.FieldlogicDeleteName})
        #set($hasFieldlogicDelete=true)
        #set($deleteCapitalName=${field.propertyName.substring(0,1).toUpperCase()}+""+${field.propertyName.substring(1)})
    #end
#end
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
@Slf4j
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}>implements ${table.serviceName} {
        @Resource
        private ${entity}ConvertMapper ${table.entityPath}ConvertMapper;

        @Override
        public Boolean add(${entity}CreateDTO dto){
            return save(${table.entityPath}ConvertMapper.convert(dto));
        }

        @Override
        public Boolean update(${entity}UpdateDTO dto){
             //验证数据是否存在
            AssertUtil.notNull(getById(dto.get${keyCapitalName}()), SystemResultEnum.DATA_NOT_EXIST);

            return updateById(${table.entityPath}ConvertMapper.convert(dto));
        }

        @Override
        @Transactional(rollbackFor = {Exception.class})
        public Boolean delByIds(List<${keyPropertyType}> idList) {
           #if(${hasFieldlogicDelete})
                List<${entity}> dbList = baseMapper.selectBatchIds(idList).stream()
                    .filter(item -> {
                        if (Boolean.TRUE.equals(item.get${deleteCapitalName}())) {
                            log.warn("id repeat remove, id:{}", item.get${keyCapitalName}());
                            return false;
                        }
                        item.set${deleteCapitalName}(true);
                        return true;
                    })
                    .collect(Collectors.toList());
            #else
                List<${entity}> dbList = baseMapper.selectBatchIds(idList);
            #end
            if (dbList.isEmpty()) {
                log.warn("dbList is empty,idList:[{}]", StrUtil.join(",", idList));
                return true;
            }

            return removeByIds(dbList);
        }

        @Override
        public List<${entity}VO> get${entity}VOList(Page<?>page, ${entity}QueryDTO queryDTO){
            List<${entity}DTO> dtoList = baseMapper.query${entity}DTOList(page,BeanUtil.beanToMap(queryDTO));
            return ${table.entityPath}ConvertMapper.convert(dtoList);
        }

        @Override
        public ${entity}VO get${entity}VO(${entity}QueryDTO queryDTO){
            ${entity}DTO dto = baseMapper.query${entity}DTO(BeanUtil.beanToMap(queryDTO));
            return ${table.entityPath}ConvertMapper.convert(dto);
        }

        @Override
        public ${entity}VO get${entity}VO(Func1<${entity}QueryDTO,?>func,Object value){
            ${entity}QueryDTO queryDTO=new ${entity}QueryDTO();
            ReflectUtil.setFieldValue(queryDTO,LambdaUtil.getFieldName(func),value);

            return get${entity}VO(queryDTO);
        }

        @Override
        public Boolean hasRepeat(${keyPropertyType} notId,SFunction<${entity},?>columnName,Object columnValue){
            LambdaQueryWrapper<${entity}>wrapper=new QueryWrapper<${entity}>().lambda().eq(columnName,columnValue);
            if(ObjectUtil.isNotEmpty(notId)){
            wrapper.ne(${entity}::get${keyCapitalName},notId);
            }
            List<${entity}>entities=baseMapper.selectList(wrapper);

            return ObjectUtil.isNotEmpty(entities);
        }
}
#end
