package ${package.Mapper};

import ${package.Entity}.${entity};
import ${cfg.VOPackage}.${entity}VO;
import org.apache.ibatis.annotations.Param;
import java.util.List;
import java.util.Map;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} {
    /**
    * 分页查询List<${entity}VO>
    *
    * @param params 查询参数
    * @return List<${entity}VO>
    */
    List<${entity}VO> query${entity}VOPage(@Param("params") ${entity}SearchRequest request);

    /**
     * 分页查询List<${entity}VO>
     *
     * @param params 查询参数
     * @return List<${entity}VO>
     */
    List<${entity}VO> countPageList(@Param("params") ${entity}SearchRequest request);

    /**
     * 编辑
     *
     * @param entity 对应实体
     * @param uuid  uuid
     * @return Boolean
     */
    Boolean updateEntityByUuid(@Param("entity")${entity} entity, @Param("uuid") String uuid);


    /**
     * 插入
     *
     * @param entity 对应实体
     * @return Boolean
     */
    Boolean insert(@Param("entity") ${entity} entity);

    /**
     * 批量插入
     *
     * @param entityList  要修改的实体集合
     * @return Boolean
     */
    Boolean batchInsert(@Param("entityList") List<${entity}> entityList);

    /**
     * 根据uuid删除
     *
     * @param uuid uuid
     * @return Boolean
     */
    Boolean deleteBy(@Param("uuid") String uuid);
}
#end
